@font-face {
  font-family: barmeno;
  src: url(font/Barmeno-Medium.otf);
}

.best{
	background-color: #fff;
	height: 300px;
	width: 1200px;
	margin-left: 90px;
	margin-top: 30px;
}

.bsthd{
	color: black;
	font-family: 'barmeno';
	font-size: 35px;
	margin-left: 80px;
	display: inline-block;
	position: absolute;
}

.me{
	display: inline-block;
}

.mel{
	position: absolute;
	margin-top: -220px;
	width: 500px;
	color: black;
	font-size: 20px;
	margin-left: 300px;
	font-family: 'barmeno';
}

.etrafli{
	padding: 0px;
	margin: 0px;
	display: inline-block;
	position: absolute;
	color: gray;
	font-size: 20px;
	margin-left: 385px;
	margin-top: 135px;
	font-family: 'barmeno';
}

.etrafli2{
	padding: 0px;
	margin: 0px;
	display: inline-block;
	position: absolute;
	color: gray;
	font-size: 20px;
	margin-left: 195px;
	margin-top: 157px;
	font-family: 'barmeno';
}


/*HOVERS*/

.best:hover{
	box-shadow: 2px 2px 2px 2px #fff;
}

.ga{
	color: black;
}

.slider{
	margin-top: 30px;
}
